# Jupyter Notebook
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Dataset (do NOT upload raw images)
Data/

# Virtual environment / system
.env

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
